@charset "utf-8";
/* CSS Document */

body{
	background-color: #96DED1;
}
h1 {
	font-family: "Arima", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: <weight>;
    text-align: left; 
	color: #71797E;
    
}
h2 {
	font-family: "Arima", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: <weight>;
    text-align: left; 
	color: #71797E;
    
}
<style> 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}


li {
  float: left;
  font-family: "Verdana", Verdana, Geneva, sans-serif;
  line-height: 20px;
  width: 210px;
  background-color: #008080;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #96DED1;
}

</style>
ol{
	font-family: "Bebas Neue", sans-serif;
}
p{
	font-family: "Bebas Neue", sans-serif;
	font-size: 25px;
}
span {
	font-weight:bold;
	color:#71797E;
	font-style:italic;
	font-family:"Bebas Neue", sans-serif;
}
img {
  float: right;
}
